body {
    background-color: #ffeedc;                        
}

.my-container { 
    padding: 12vh 25px;
}

.dashboard-button{
    margin: 80px auto;
    width: 150px;
    height: 150px;
    border: 5px solid #4f4f4f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    background-color: #57949a;
    color: #ffeedc;
    cursor: pointer;
    transition: 0.25s ease-in;
}
.dashboard-button:hover {
    background-color: #ffeedc;
    color: #57949a;
}

.header-logged-in {
    margin: auto 0;
    color: #4f4f4f;
    text-align: center;
}
.login-button {
    margin-top: 50px !important;
    background-color: #57949a;
    cursor: pointer;
    width: 150px;
    color: #ffeedc !important;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #ffeedc;
    padding: 5px;
    border-radius: 9px;
    font-size: 25px;
}
.form {
    max-width: 600px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form input, .form textarea {
    font-size: 18px;
    font-weight: 600;
    border: none;
    margin: 5px;
    width: 75%;
    box-shadow: none;
    color: black;
}
.form button {
    margin-top: 20px;
}
.form input:focus, .form textarea:focus {
    border: none !important;
    box-shadow: none;
} 
.form select {
    border: none;
    font-size: 18px;
    font-weight: 600;
}
.form select:focus {
    box-shadow: none;
}
.file-input {
    cursor: pointer;
    height: 60px;
    border-radius: 0.25rem;
    width: 60px;
    max-width: 600px;
    margin: 5px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center
}

.sign-up-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.sign-up-area a {
    text-decoration: none;
    border-bottom: 1px solid #ffeedc;
    color: #ffeedc;
    font-size: 20px;
    font-weight: 600;
}

.user-list {
    padding: 7px;
    border: 2px solid #ffeedc;
    background-color: #ffeedc;
    color: #4a4a4a;
    border-radius: 10px;
    margin: 10px;
    font-size: 15px;
    font-weight: 500;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-break: break-all;
}

.user-list:hover{
    background-color: #ffeedcdc;
    text-decoration: none;
    color: #4a4a4a
}

.search-input {
    display: flex;
    max-width: 600px;
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 35px;
    border: 1px solid #4f4f4f;
    font-size: 16px;
    color: #4f4f4f;
    font-weight: 600;
}
.search-input:active, .search-input:focus {
    color: #4f4f4f;
    border-color: black;
    box-shadow: none;
    background-color: #ffffff;
    opacity: 0.85;
}
.pet-icon {
    width: 40px
}
.modal-dialog {
    margin: 0 auto;
    width: 280px
}
.modal-content{
    border-radius: 15px;
    background-color: #57949a;
}
.modal-body {
    border-radius: 40px;
}
.modal-body h3{
    text-align: center;
    color: #ffeedc;
}
.modal-footer {
    display: flex;
    justify-content: center;
}
.modal-footer button {
    color: #57949a;
    border-color: #ffeedc;
    background-color: #ffeedc;
}
.modal-footer button:hover, .modal-footer button:active, .modal-footer button:focus {
    color: #ffeedc !important;
    border-color: #ffeedc !important;
    background-color: #57949a !important;
}
@media only screen and (max-width: 560px) {
    .my-container { 
        padding: 12vh 25px
    }
}